html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

#main {
	padding: 5%;
	min-height: 90%;
    height: auto;
    background-color: #c5dbe5;
    /*width: 100%;*/
    margin: auto auto;
    font-size: 85%;
}



.form input[type=submit] {
	border : solid 1px #aaa;
	border-radius : 3px;
	moz-border-radius : 3px;
	font-size : 15px;
	color : #000;
	padding : 5px 15px;
}
.form input[type=submit]:hover {
	cursor: pointer;
}

#mainUsers {
	padding-top: 20px;
	min-height: 80%;
    height: auto;
    /*background-color: rgba(0, 255, 255, 0.9);*/
    width: 70%;
    margin: 0 auto;
}



#questions {
	text-align: left;
	margin-top: 50px;
}
#questions p {
	font-weight: bold;
}

@media only screen and (min-width: 768px) {
	#main {
		padding: 5% 10%;
		min-height: 60%;
	    height: auto;
	    background-color: #c5dbe5;
	    width: 65%;
	    margin: 5% auto;
	    font-size: 100%;
	}

}